/*
  Made by Elly Loel - https://ellyloel.com/
*/
* {
    margin: 0;
    padding: 0;
    line-height: calc(0.25rem + 1em + 0.25rem)
}

*,
::before,
::after {
    box-sizing: border-box
}

*:where(:not(fieldset, progress, meter)) {
    border-width: 0;
    border-style: solid;
    background-origin: border-box;
    background-repeat: no-repeat
}

html {
    block-size: 100%;
    -webkit-text-size-adjust: none
}

@media (prefers-reduced-motion:no-preference) {
    html:focus-within {
        scroll-behavior: smooth
    }
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    min-block-size: 100%
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block
}

:where(img, svg, video) {
    block-size: auto;
    max-inline-size: 100%
}

:where(svg) {
    stroke: none;
    fill: currentColor
}

:where(svg):where(:not([fill])) {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round
}

:where(svg):where(:not([width])) {
    inline-size: 5rem
}


:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word
}

:where(ul, ol)[role="list"] {
    list-style: none
}

ul {
    list-style: none;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto
}

a {
    text-decoration: none;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
    cursor: pointer;
    touch-action: manipulation
}

:where(input[type="file"]) {
    cursor: auto
}

:where(input[type="file"])::-webkit-file-upload-button {
    cursor: pointer
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
    cursor: pointer
}

@media (prefers-reduced-motion:no-preference) {
    :focus-visible {
        transition: outline-offset 145ms cubic-bezier(.25, 0, .4, 1)
    }

    :where(:not(:active)):focus-visible {
        transition-duration: 0.25s
    }
}
.topHeader {
  background-color: rgba(51, 51, 51, 0.1);
  padding: 20px;
  display: flex;
}
.topHeader .navList {
  height: 100%;
}
.topHeader .navItem a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 24px;
}

input, textarea {
  border: 1px solid #333;
}

button {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: skyblue;
  color: #fff;
}
